

.main_screen{
    background-color:  lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     .column{
        display: flex;
        flex-direction: column;
       input{
        margin: 20px 0 ;
        padding: 10px;
        border-radius: 5px;
       }
     }
     .title{
      text-align: center;
     }
   .display_btn{
    position: absolute;
    top: 85vh;
    
   }

   .submit_btn{
    margin-bottom: 25px;
   }
}

@media(max-width:468px){
  .display_btn{   
    margin-top: 4.5rem;
 
   }
}