
.main_display{
    background-color: wheat;  
}

@media(max-width:380px){
    .table{
        // font-size: 10px;
        font-size: 6px;

       max-width:  95vw;
        th{
            
        }
        .tbody{
            .action_btn{
                font-size: 10px;
            }
        }
    }

    .main_display{
        .goto_create_btn{
        font-size: 6px;
            
        }
    }
}